* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.registration-page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/*registration*/
.Registrationbox {
    
    margin: auto;
    background-color: #f8f9fa;
    width: 500px;
    padding: 30px;
    border: 1px solid #A4A9B4;
    border-radius: 30px;
}

.Registrationheader h3 {
    color: #059033;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}
/*input for registration and button*/
.inputbox {
    margin-bottom: 15px;
}
.input-field {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    padding: 0 20px;
    font-size: 15px;
    border: 1px solid gray;
    background-color: white;
}

.input-field::placeholder {
    font-size: 15px;
    color: gray;
}
/*button*/
.submitbtn {
    width: 100%;
    height: 50px;

    background-color: #059033;
    color: white;

    border: none;
    border-radius: 25px;

    font-size: 15px;
}
/*header*/
header {
    width: 100%;
    height: 50px;
    background-color: #059033;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}
/*logo*/
.logo {
    font-size: 25px;
}

/*login and register*/

.headercontent a {
    
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-left: 20px;
}
/*bussearch and find route*/

.navigation {
    width: 100%;
    height: 50px;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 100px;
}

.navigation a {
    align-items: center;
    color: #059033;
    font-size: 25px;
    text-decoration: none;
}

.findbox {
    background-color: #f8f9fa;

    width: 1700px;
    min-height: 300px;

    padding: 50px;

    border: 1px solid #A4A9B4;
    border-radius: 50px;
    margin:70px  auto ;
    

    
}

.findbox h3 {
    font-size: 20px;
    text-align: center;
    color: black;
}

.findbox h5 {
    font-size: 15px;
    text-align: center;
      color: black;
    margin-bottom: 15px;
}

/*input from to*/
.inputsource {
    margin-bottom: 15px;
}

.inputspace {
    width: 100%;
    height: 50px;
    background-color: white;

    padding: 0 20px;

    font-size: 15px;

    border: 1px solid gray;
    border-radius: 5px;

    margin-bottom: 10px;
}




.popularroute {
    margin-top: 15px;
}

.popularroute .title {
    font-size: 15px;
    margin-bottom: 5px;
    color: black;
    text-align:center;
}

.popularroute span {
    display: inline-block;

    background-color: white;
    border: 1px solid gray;

    padding: 5px 8px;

    border-radius: 20px;
color:black;
    font-size: 11px;

    margin-right: 5px;
    margin-bottom: 5px;
}

/*footer*/
footer {
   

    width: 100%;
    min-height: 20px;

    text-align: center;

    border-top: 1px solid #A4A9B4;

    font-size: 15px;
       padding: 5px;
}
@media(max-width:600px){
  
/*registration*/

/*input for registration and button*/
.inputbox {
    margin-bottom: 15px;
}
.input-field {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    padding: 0 20px;
    font-size: 15px;
    border: 1px solid gray;
    background-color: white;
}

.input-field::placeholder {
    font-size: 15px;
    color: gray;
}
/*button*/
.submitbtn {
    width: 100%;
    height: 50px;

    background-color: #059033;
    color: white;

    border: none;
    border-radius: 25px;

    font-size: 15px;
}
/*header*/
header {
    width: 100%;
    height: 50px;
    background-color: #059033;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 20px;
}
/*logo*/
.logo {
    font-size: 18px;
}

/*login and register*/

.headercontent a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin-left: 8px;
}
/*bussearch and find route*/

.navigation {
    width: 100%;
    height: 50px;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 30px;
}

.navigation a {
    width: 100%;
    color: #059033;
    font-size: 18px;
    text-decoration: none;
}

.findbox {
    background-color: #f8f9fa;

    width: 95%;
    min-height: 300px;
 
    padding:15PX;

    border: 1px solid #A4A9B4;
    border-radius: 30px;
    margin:30px  auto ;
    

    
}

.findbox h3 {
    font-size: 20px;
    text-align: center;
    color: black;
}

.findbox h5 {
    font-size: 14px;
    text-align: center;
      color: black;
    margin-bottom: 15px;
}

/*input from to*/
.inputsource {
    margin-bottom: 15px;
}

.inputspace {
    width: 100%;
    height: 50px;
    background-color: white;

    padding: 0 20px;

    font-size: 15px;

    border: 1px solid gray;
    border-radius: 5px;

    margin-bottom: 10px;
}




.popularroute {
    margin-top: 15px;
}

.popularroute .title {
    font-size: 15px;
    margin-bottom: 5px;
    color: black;
    text-align:center;
}

.popularroute span {
    display: inline-block;

    background-color: white;
    border: 1px solid gray;

    padding: 5px 6px;

    border-radius: 20px;
color:black;
    font-size: 9PX;

    margin-right: 3px;
    margin-bottom: 5px;
}

/*footer*/
footer {
   

    width: 100%;
    min-height: 20px;

    text-align: center;

    border-top: 1px solid #A4A9B4;

    font-size: 12px;
       padding: 5px;
}


}

@media(max-width:900px){
  

/*input for registration and button*/
.inputbox {
    margin-bottom: 15px;
}
.input-field {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    padding: 0 20px;
    font-size: 15px;
    border: 1px solid gray;
    background-color: white;
}

.input-field::placeholder {
    font-size: 15px;
    color: gray;
}
/*button*/
.submitbtn {
    width: 100%;
    height: 50px;

    background-color: #059033;
    color: white;

    border: none;
    border-radius: 25px;

    font-size: 15px;
}
/*header*/
header {
    width: 100%;
    height: 50px;
    background-color: #059033;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 20px;
}
/*logo*/
.logo {
    font-size: 18px;
}

/*login and register*/

.headercontent a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin-left: 8px;
}
/*bussearch and find route*/

.navigation {
    width: 100%;
    height: 50px;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 30px;
}

.navigation a {
    color: #059033;
    font-size: 18px;
    text-decoration: none;
}

.findbox {
    background-color: #f8f9fa;

    width: 95%;
    min-height: 300px;
 
    padding:15PX;

    border: 1px solid #A4A9B4;
    border-radius: 30px;
    margin:30px  auto ;
    

    
}

.findbox h3 {
    font-size: 20px;
    text-align: center;
    color: black;
}

.findbox h5 {
    font-size: 14px;
    text-align: center;
      color: black;
    margin-bottom: 15px;
}

/*input from to*/
.inputsource {
    margin-bottom: 15px;
}

.inputspace {
    width: 100%;
    height: 50px;
    background-color: white;

    padding: 0 20px;

    font-size: 15px;

    border: 1px solid gray;
    border-radius: 5px;

    margin-bottom: 10px;
}




.popularroute {
    margin-top: 15px;
}

.popularroute .title {
    font-size: 15px;
    margin-bottom: 5px;
    color: black;
    text-align:center;
}

.popularroute span {
    display: inline-block;

    background-color: white;
    border: 1px solid gray;

    padding: 5px 6px;

    border-radius: 20px;
    color:black;
    font-size: 9PX;

    margin-right: 3px;
    margin-bottom: 5px;
}

/*footer*/
footer {
   

    width: 100%;
    min-height: 20px;

    text-align: center;

    border-top: 1px solid #A4A9B4;

    font-size: 12px;
       padding: 5px;
}


}
@media(max-width:600px){
  
/*registration*/
.Registrationbox {
    
    margin: auto;
    background-color: #f8f9fa;
    width: 95%;
    padding: 15px;
    border: 1px solid #A4A9B4;
    border-radius: 14px;
}

.Registrationheader h3 {
    color: #059033;
    font-size: 14px;
    text-align: center;
    margin-bottom: 12px;
}

/*input for registration and button*/
.inputbox {
    margin-bottom: 15px;
}
.input-field {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    padding: 0 20px;
    font-size: 15px;
    border: 1px solid gray;
    background-color: white;
}

.input-field::placeholder {
    font-size: 15px;
    color: gray;
}
/*button*/
.submitbtn {
    width: 100%;
    height: 50px;

    background-color: #059033;
    color: white;

    border: none;
    border-radius: 25px;

    font-size: 15px;
}
/*header*/
header {
    width: 100%;
    height: 50px;
    background-color: #059033;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 20px;
}
/*logo*/
.logo {
    font-size: 18px;
}

/*login and register*/

.headercontent a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin-left: 8px;
}
/*bussearch and find route*/

.navigation {
    width: 100%;
    height: 50px;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 30px;
}

.navigation a {
    color: #059033;
    font-size: 18px;
    text-decoration: none;
}

.findbox {
    background-color: #f8f9fa;

    width: 95%;
    min-height: 300px;
 
    padding:15PX;

    border: 1px solid #A4A9B4;
    border-radius: 30px;
    margin:30px  auto ;
    

    
}

.findbox h3 {
    font-size: 20px;
    text-align: center;
    color: black;
}

.findbox h5 {
    font-size: 14px;
    text-align: center;
      color: black;
    margin-bottom: 15px;
}

/*input from to*/
.inputsource {
    margin-bottom: 15px;
}

.inputspace {
    width: 100%;
    height: 50px;
    background-color: white;

    padding: 0 20px;

    font-size: 15px;

    border: 1px solid gray;
    border-radius: 5px;

    margin-bottom: 10px;
}




.popularroute {
    margin-top: 15px;
}

.popularroute .title {
    font-size: 15px;
    margin-bottom: 5px;
    color: black;
    text-align:center;
}

.popularroute span {
    display: inline-block;

    background-color: white;
    border: 1px solid gray;

    padding: 5px 6px;

    border-radius: 20px;
color:black;
    font-size: 9PX;

    margin-right: 3px;
    margin-bottom: 5px;
}




}

@media(max-width:900px){
  

/*input for registration and button*/
.inputbox {
    margin-bottom: 15px;
}
.input-field {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    padding: 0 20px;
    font-size: 15px;
    border: 1px solid gray;
    background-color: white;
}

.input-field::placeholder {
    font-size: 15px;
    color: gray;
}
/*button*/
.submitbtn {
    width: 100%;
    height: 50px;

    background-color: #059033;
    color: white;

    border: none;
    border-radius: 25px;

    font-size: 15px;
}
}