/*header*/
header {
    width: 100%;
    height: 50px;
    background-color: #059033;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 20px;
}
/*logo*/
.logo {
    font-size: 18px;
}

/*login and register*/

.headercontent a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin-left: 8px;
}
/*bussearch and find route*/

.navigation {
    width: 100%;
    height: 50px;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 100px;
    border: 1px solid #7d7c7c;
}

.navigation a {
    color: #059033;
    font-size: 18px;
    text-decoration: none;
}

.bus-search-box{
    height: 500px;
    background-color: white;
    padding: 6rem;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: left;
    color: black;
}

.search-box,
.search-box input{
    background-color: white;
    width: 100%;
    padding: 0.75rem 1rem;
    margin-top: 1rem;
    border: .75px solid #7d7c7c;
    border-radius: 6px;
    font-size: 1rem;
    box-sizing: border-box;
}