.profile-page {
  min-height: 100vh;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

}

.profile-header,

.profile-card {
  display: flex;
  flex-direction: column;
  gap: 1rem; /*  rgba(0, 0, 0, 0.1) space between Email box and Location box */
  background: white;
  border: 1px solid #059033;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 1px 5px rgb(5,144,51);
  width: 100%;
  max-width: 350px;
}

.profile-details {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  color: #000000;
  font-size: 1rem;
}

.profile-details input{
    background-color: white;
    margin-top: .25rem;
    border: 1px solid #a4a2a2;
    padding: 0.5rem 1rem;
    border-radius: 6px;
}
