

.findbox {
    background-color: #f8f9fa;

    width: 900px;
    min-height: 300px;

    padding: 50px;

    border: 1px solid #A4A9B4;
    border-radius: 50px;
    margin:70px  auto ;
    

    
}

.findbox h3 {
    font-size: 20px;
    text-align: center;
    color: black;
}

.findbox h5 {
    font-size: 15px;
    text-align: center;
      color: black;
    margin-bottom: 15px;
}

.bus-search-box{
    height: 100px;
    
    padding: 6rem;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: left;
    color: black;
}

.search-box,
.search-box input{
    background-color: white;
    width: 100%;
    padding: 0.75rem 1rem;
    margin-top: 1rem;
    border: .75px solid #7d7c7c;
    border-radius: 6px;
    font-size: 1rem;
    box-sizing: border-box;
}